  /* Create an accessible color palette using var()function */
  /* https://www.w3schools.com/css/css3_variables.asp */
  
  form {
    display: grid;
    grid-template-columns: 50% 50%;
    border: 1px solid #ccc;
    border-radius: 16px;
    width:70%;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: rgb(203, 97, 159);
    background: #f7eaca;
    font-family: monospace, sans-serif;
  }

  .radio {
    grid-column-start: 1;
    grid-column-end: 3;
    /* background: #575294; */
    color: #d5a0e0;
  }

  #name {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    background: #bdeac3;
    color: #283525;
    font-family: monospace, sans-serif;
  }


  #message {
    width: 100%;
    padding: 10px;
    resize: vertical;
    font-size: 18px;
    font-weight: bold;
    background: #bdeac3;
    color: #283525;
    font-family: monospace, sans-serif;
  }

  input,
  textarea {
    padding: 10px;
    border: 1px solid rgb(187, 149, 149);
    width: 100%;
  }

  input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 50px;
  }
  button[type="reset"] {
    width: 100%;
    padding: 10px;
    background-color: #4c6faf;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 500px;
  }

  input[type="submit"]:hover {
    background-color: #1f7a24;
  }
  button[type="reset"]:hover {
    background-color: #1f437a;
  }
